<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/icons/style.css" />
    <link rel="stylesheet" href="/css/app.css" />

    <title>{{nombrePagina}}</title>

  </head>

  <body>

    {{#if barra}}
      <div class="busqueda-mobile">
        {{! aqui se insertan elementos }}
      </div>
    {{/if}}

    <div class="nombre-sitio contenedor">
      <a href="/">devJobs</a>

      {{#if barra}}
        <div class="buscador">
          <div class="barra">
            <input type="text" class="buscar" />
            <div class="controles-buscador">
              <button id="lupa"></button>
              <button id="quit"></button>
            </div>
          </div>

          <ul class="caja-busqueda">
            {{! aqui se insertan elementos }}
          </ul>

        </div>
      {{/if}}
      {{#if cerrarSesion}}
        <div class="cerrar-sesion">
          {{#if avatar}}
            <img src="/uploads/avatars/{{avatar}}" alt="avatarUser" class="admin-perfil"/>
          {{/if}}
          <a href="/dashboard">Administracion</a>
          <a href="/logout">Cerrar Sesión</a>
        </div>
      {{/if}}
    </div>

    {{#if nombrePagina}}
      <header class="site-header contenedor separador">
        <h2>{{nombrePagina}}</h2>
        {{#if tagLine}}
          <p class="tagline">{{tagLine}}</p>
        {{/if}}

        {{#if boton}}
          <a href="/vacantes/crear" class="btn btn-azul">Publicar nueva Vacante</a>
        {{/if}}
      </header>
    {{/if}}

    <div class="contenedor contenido-principal">
      {{#if mensajes}}
        <div class="alertas">
          {{#mostrarAlertas mensajes}}
            {{! Lo que va aca adentro es lo que se pasa como ultimo parametro, en este caso iria a parar a "alertas" y se accede con "alertas.fn()" }}
          {{/mostrarAlertas}}
        </div>
      {{/if}}
      {{{body}}}
    </div>

  </body>

</html>

{{#if trixScript}}
  <script src="/js/trix.min.js"></script>
{{/if}}

{{#if vacantesFormScript}}
  <script src="/js/vacantesForm.min.js"></script>
{{/if}}

{{#if barra}}
  <script src="/js/buscador.min.js"></script>
{{/if}}

<script src="/js/cleanAlerts.min.js"></script>

{{#if eliminarVacanteScript}}
  <script src="/js/deleteVacantes.min.js"></script>
{{/if}}