<main class="lista-vacantes">
  <h2>Navegacion</h2>
  <div class="botones separador">
    <a href="/edit-profile" class="btn btn-azul">Editar Perfil</a>
    <a href="/vacantes/crear" class="btn btn-verde">Nueva Vacante</a>
  </div>
  <h2>Tus vacantes 👥</h2>
   {{> pagination}}
  {{#if paginateData.docs.length}}
    {{#each paginateData.docs}}
      <div class="vacante panel-administracion">
        <div class="caja">
          <h3>{{empresa}}</h3>
          <p class="puesto">{{titulo}}</p>
          <p class="candidatos">{{candidatos.length}} Candidato/s</p>
        </div>
        <div class="centrar-vertical caja">
          <a href="/candidatos/{{url}}" class="btn btn-amarillo">Candidatos</a>
          <a href="/vacantes/editar/{{url}}" class="btn btn-verde">Editar</a>
          <a href="#" data-eliminar="{{_id}}" class="btn btn-rojo" id="deleteVacante">Eliminar</a>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h3>Aun no tienes vacantes...</h3>
  {{/if}}

</main>